@import url(vazircodex.css);

::-webkit-scrollbar {
    width: 3px;
    height: 4px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

html {
    scroll-behavior: smooth;
}

body {
    background: #272c34;
    color: #eeeeee;
    font-family: Vazir, tahoma, serif;
    padding-bottom: 15%;
    overflow-x: hidden;
    -webkit-user-select: none; /* Chrome 49+ */
    -moz-user-select: none; /* Firefox 43+ */
    -ms-user-select: none; /* No support yet */
    user-select: none; /* Likely future */
}

h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: #ffffff;
}

a:hover {
    color: deepskyblue;
}

input {
    color: #eeeeee;
}

input::placeholder {
    color: #666666 !important;
}

label {
    color: #eeeeee !important;
    padding-top: 7px;
}

#property .dropdown {
    background: transparent;
    color: #ffffff;
    border: 0;
    padding: 4px !important;
    font-weight: bold;
    font-size: 15px;
    display: block;
    width: 100%;
    line-height: 1.2em !important;
    height: auto !important;
    margin: 0 !important;
}

.wrapper {
    -o-transition: 1s;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
}

@keyframes cursor {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
}


.context-menu {
    min-width: 220px;
}

.context-menu span {
    float: right;
    color: grey;
    font-size: 12px;
    margin-top: 3px;
}

.context-menu li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.context-menu li a {
    -o-transition: .4s;
    -ms-transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
}

.context-menu li:last-child {
    border-bottom-width: 0;
}

.context-menu li:hover a {
    background: #0f9d5877;
}

.context-menu .fa {
    margin-right: 15px;
}

.just-paste .no-paste {
    display: none;
}

.blur {
    -webkit-filter: blur(8px) grayscale(90%);

}

.no-blur {
    backdrop-filter: blur(2px) sepia(50%);
}

.text-center {
    text-align: center;
}

.v-select {
    color: #20252b;
}

.select-dropdown {
    color: #eee;
}

.nav-wrapper li.disabled {
    opacity: 0.3;
}

.nav-wrapper li.disabled:hover {
    background: transparent !important;
}

.txt.ellipsis:after {
    content: '...';
    position: absolute;
    bottom: 5px;
    left: 0;
}

.txt.fade:after {
    content: '...';
    position: absolute;
    bottom: 5px;
    left: 0;
    opacity: .5;
}

.ajs-dialog {
    color: black;
}

.inactive {
    opacity: 0.025;
}

.ace_gutter-layer {
    background: rgb(26, 33, 41);
}


.row div{
    display: inline-block;
}
/*dnd fix*/

.drag {
    /*border: 1px solid rgba(220, 220, 255,.2);*/
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    text-align: center;
    transition: all 0.5s;
}

.drop {
    margin: 20px 10px;
    height: 80px;
    border: 2px dashed rgba(0, 0, 0, 0.2);
    position: relative;
}

.drop::before {
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    opacity: 0.2;
    white-space: nowrap;
}

.drop.visual::before {
    content: "viual component";
}


.row .visual{
    float: left;
    width: 70px;
}

.row .visual::before{
    content: "Drop";
}
.drop.non-visual::before {
    content: "non-visual component";
}

.drop-allowed {
    background-color: rgba(0, 255, 0, 0.2);
}

.drop-forbidden {
    background-color: rgba(255, 0, 0, 0.2);
}

.drop-in {
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.4);
}


.list-enter,
.list-leave-to {
    opacity: 0;
}

.list-leave-active {
    position: absolute;
}

.ajs-message {
    background: #4285f4;
    color: black;
}

.ajs-warning {
    color: red;
}

/*flutter fix*/
#appBar i.fa-arrow-left {
    margin-right: 1.5em;
}

#appBar i.fa-arrow-right {
    margin-left: 1.5em;
}

.ace_content {
    font-family: 'VazirCodeX';
}
