@import url(vazircodex.css);

::-webkit-scrollbar {
    width: 3px;
    height: 4px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

html {
    scroll-behavior: smooth;
}

body {
    background: #272c34;
    color: #eeeeee;
    font-family: Vazir, tahoma, serif;
    overflow-x: hidden;
    -webkit-user-select: none; /* Chrome 49+ */
    -moz-user-select: none; /* Firefox 43+ */
    -ms-user-select: none; /* No support yet */
    user-select: none; /* Likely future */
}

h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: #ffffff;
}

a:hover {
    color: deepskyblue;
}

input {
    color: #eeeeee;
}

input::placeholder {
    color: #666666 !important;
}

label {
    color: #eeeeee !important;
    padding-top: 7px;
}

blockquote{
    user-select: text;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none;
}

#tabs{
    background: #1a212999;
    padding-top: 4px;
    position: fixed;
    left: 0;
    top: 70px;
    right: 0;
    z-index: 995;
    white-space: nowrap;
    height: 40px;
    /*overflow: hidden;*/
}
#tabs:hover{
    z-index: 1000;
}

#tabs ul{
    margin: 0 ;
    margin-top: 5px;
}

#tabs li{
    display: inline-block;
    padding: 5px 1rem;
    margin-left: 5px;
    background: #1a212999;
    transition: 500ms;
    /*float: left;*/
}
#tabs li.active{
    background: #282c34;
}
#tabs i{
    margin-right: 1rem;
    color: yellowgreen;
    opacity: .5;
}
#tabs li.active i{
    opacity: 1;
}
#tabs span.fa{
    margin-left: 1rem;
    transition: 200ms;
    color: #666666;
}
#tabs span.fa:hover{
    color: red;
}

#property .dropdown {
    background: transparent;
    color: #ffffff;
    border: 0;
    padding: 4px !important;
    font-weight: bold;
    font-size: 15px;
    display: block;
    width: 100%;
    line-height: 1.2em !important;
    height: auto !important;
    margin: 0 !important;
}


#tab-content-1{
    display: block;
}

.opacity-0{
    opacity: 0;
    pointer-events: none;
}
.hidden-tab{
    width: 313px; opacity: 0;pointer-events: none;
}
.tab-control-placeholder{
    position: fixed;
    top: 3px;
    right: 7px;
    z-index: 9999;
}
.prev-sc,.next-sc{
    background: rgba(0,0,0,0.2);
    text-align: center;
    border: 1px solid #1a2129;
    display: inline-block;
    padding: 2px;
    border-radius: 50%;
    margin-right: 3px;
    width: 30px;
    cursor: pointer;
}
.prev-sc i,.next-sc i{
    font-size: 12px;
}
.next-sc{
}

.tab-content{
    display: none;
    transition: 500ms ease-in-out;
    margin-top: 0;
}


.wrapper {
    -o-transition: 1s;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
}

.terminal a{
    background: #0f153b80;
    cursor: pointer;
}

.pre{
    font-family: VazirCodeX;
    white-space: pre-wrap;
    line-height: 1.25em;
}

.laptop{
    position: relative;
}
.laptop:before{
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 50%;
    border: 2px solid black;
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(54, 54, 78, 1) 24%, rgba(26, 25, 56, 1) 30%, rgba(60, 60, 84, 1) 48%, rgba(30, 30, 42, 1) 67%, rgba(91, 91, 106, 1) 74%, rgba(0, 0, 0, 1) 100%);
    top: 35px;
    left: calc(50% - 10px);
    content: ' ';
    position: absolute;
    z-index: 8;
}
.laptop:after{
    background:  url("../../assets/img/laptop.svg") no-repeat ;
    background-size: 100% auto;
    height: 30px;
    right: -4%;
    left: -4%;
    content: ' ';
    bottom: -10px;
    position: absolute;
}
.device-holder{
    display: inline-block;
    padding-top: 1rem;
}
.fix-btn{
    margin: 0 15px;
    position: relative;
    top: -2px;
}

.text-end{
    text-align: end;
}
.text-start{
    text-align: start;
}


@keyframes cursor {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
}


.context-menu {
    min-width: 220px;
}

.context-menu span {
    float: right;
    color: grey;
    font-size: 12px;
    margin-top: 3px;
}

.context-menu li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.context-menu li a {
    -o-transition: .4s;
    -ms-transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
}

.context-menu li:last-child {
    border-bottom-width: 0;
}

.context-menu li:hover a {
    background: #0f9d5877;
}

.context-menu .fa {
    margin-right: 15px;
}


.row-hidden td,.row-hidden th{
    display: none;
}
.just-paste .no-paste {
    display: none;
}

.blur .blurable{
    -webkit-filter: blur(8px) grayscale(90%);
}

.no-blur {
    filter: blur(0) grayscale(0);
}

.text-center {
    text-align: center;
}

.v-select {
    color: #20252b;
}

.select-dropdown {
    color: #eee;
}

.nav-wrapper li.disabled {
    opacity: 0.3;
}

.nav-wrapper li.disabled:hover {
    background: transparent !important;
}

.txt.ellipsis:after {
    content: '...';
    position: absolute;
    bottom: 5px;
    left: 0;
}

.txt.fade:after {
    content: '...';
    position: absolute;
    bottom: 5px;
    left: 0;
    opacity: .5;
}

.ajs-dialog {
    color: black;
}

.inactive {
    opacity: 0.025;
}

.ace_gutter-layer {
    background: rgb(26, 33, 41);
}


.axis-flex {
   display: flex;
}

.axis-flex .flex-child{
    flex: 1;
}
.axis-start .flex-child{
    display: inline-block;
    text-align: center;
}
.axis-flex.scroll {
    display: block;
}


.axis-start{
    display: block;
}
.axis-start .flex-child{
    display: inline-block;
}
.axis-end{
    display: block;
    text-align: right;
    width: 100%;
}
.axis-end.rtl{
    text-align: left;
}
.axis-end .flex-child{
    display: inline-block;
}

/*materialz outline*/

.input-field.input-outlined > input {
    border: 1px solid #eee;
    border-radius: 4px;
    transition: box-shadow, border-color 0.15s;
}
.input-field.input-outlined > input:focus:not([readonly]) {
    border-color: #26A69B;
    box-shadow: 0 1px 0 0px #26A69B;
}
.input-field.input-outlined > label {
    left: 27px;
    display: inline-flex;
    width: auto !important;
}
.input-field.input-outlined > label.active {
    background: inherit;
    padding-right: 5px;
    padding-left: 5px;
    transform: translateY(-1.75rem);
    top: 1rem;
}

.acv .abs{
    display: block !important;
}
/*dnd fix*/

.drag {
    /*border: 1px solid rgba(220, 220, 255,.2);*/
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    text-align: center;
    transition: all 0.5s;
}

.drop {
    margin: 20px 10px;
    height: 80px;
    border: 2px dashed rgba(0, 0, 0, 0.2);
    position: relative;
}

.drop::before {
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    opacity: 0.2;
    white-space: nowrap;
}

.drop.visual::before {
    content: "viual component";
}


.rowc .visual, .colc .visual{
    position: absolute;
    left: 15px;
    top: 15px;
    right: 15px;
    margin: 0;
    max-height: calc(100% - 30px);
    box-sizing: border-box;
}



/*.rowc .visual::before{*/
/*    content: "Drop";*/
/*}*/
.drop.non-visual::before {
    content: "non-visual component";
}

.drop-allowed {
    background-color: rgba(0, 255, 0, 0.2);
}

.drop-forbidden {
    background-color: rgba(255, 0, 0, 0.2);
}

.drop-in {
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.4);
}


.list-enter,
.list-leave-to {
    opacity: 0;
}

.list-leave-active {
    position: absolute;
}

.ajs-message {
    background: #4285f4;
    color: black;
}

.ajs-warning {
    color: red;
}

/*flutter fix*/
#appBar i.fa-arrow-left {
    margin-right: 1.5em;
}

#appBar i.fa-arrow-right {
    margin-left: 1.5em;
}

.ace_content {
    font-family: 'VazirCodeX';
}
.collection {
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.collection .collection-item {
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/*mobile preview fix*/
#mobile {
    background: white;
    /*width: 300px;*/
    /*height: 600px;*/
    margin: 10px auto 10px auto;
    border-radius: 15px;
    border: 10px solid black;
    border-top-width: 40px;
    border-bottom-width: 40px;
    overflow-y: scroll;
    position: relative;
}



#mobile.landscape{
    border-left-width: 40px ;
    border-right-width: 40px;
    border-top-width: 10px;
    border-bottom-width: 10px;
}

.borderless{
    border-width: 5px !important;
    border-radius: 25px !important;
}

.pos-relative{
    position: relative;
    height: 100%;
}

/*fix color picker*/
.vc-sketch{
    width: 410px !important;
    background: #20252b !important;
}
.vc-sketch input{
    box-shadow: 0 1px 0px gray;
    padding: 5px 0 5px 4px !important;
    margin-bottom: 2px;
    text-align: center;
    height: auto;
}
.vc-sketch input:focus{
    margin-bottom: 1px;
}

.vc-sketch-field .vc-input__label{
    color: white !important;
    margin-bottom: 5px;
}

.vc-sketch-color-wrap .vc-checkerboard{
    background: none !important;
}

/*transiation*/

.slide-fade-enter, .slide-fade-leave-to {
    pointer-events: none;
    padding: 0 !important;
    max-height: 0;
    margin: 0;
}
.slide-fade-tab{
    transform: translateX(1000px);
    opacity: 0;
    pointer-events: none;
    margin-top: 0;
}

.slide-fade-tab #side{
    opacity: 0;
}
.slide-fade-tab #pages{
    opacity: 0;
}

.vs-dark,.hc-black .monaco-editor,.monaco-editor {
    min-width: 100% !important;
    min-height: 100vh !important;
}

.vs-dark .monaco-editor-background{
    background: #282c34;
    padding-left: 1rem;
}







@keyframes fliper {
    0% {
        transform: translate(0px);
    }
    45% {
        transform: translate(0px);
        opacity: 1;
    }
    47% {
        transform: translate(100px) scale(1.3);
        opacity: .7;
    }
    50% {
        transform: translate(-200px) scale(1.5);
        opacity: .3;
    }
    53% {
        transform: translate(0px);
        opacity: 1;
    }
    100% {
        transform: translate(0px);
    }
}

.carousel-3d-slide{
    opacity: 0.5 !important;
    transition: 300ms;
}

.carousel-3d-slide.current{
    opacity: 1 !important;
}