body{
    background: #272c34 ;
    color: #eeeeee ;
    font-family: Vazir,tahoma ,serif;
    padding-bottom: 15%;
    overflow-x: hidden;
}
a{
    color: #ffffff;
}
a:hover{
    color: deepskyblue;
}