@font-face {
    font-family: 'VazirCodeX';
    src: url('../font/VazirCodeX.woff2') format('woff2'),
        url('../font/VazirCodeX.woff') format('woff'),
        url('../font/VazirCodeX.ttf') format('truetype'),
        url('../font/VazirCodeX.svg#VazirCodeX') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

